$mFont: Source Sans Pro, sans-serif;
$secFont: Fresca, sans-serif;
$bg: url(../img/m-h-night.jpg);
$baseFColor: #fff;
$fontColor: #bac3ce;
$buttonColor: #e3ac00;
$buttonHColor: #f5bf1c;
$underlineColor: #ff4e33;
$backgroundColor: #21232e;
$blockbgColor: #3b3f50;
$gradientColor: linear-gradient(90deg, #dda306 0%, #942f50 100%);
$headerHeight: 580px;
$headerWrWidth: 460px;
$boxWidth: 860px;
$boxHeight: 260px;
$imgWidth: 350px;
$sectionBannerWidth: 900px;
$footerHeight: 150px;
$logoSize: 23px;
$logoSpan: 10px;
$headerHeading: 55px;
$headerText: 13px;
$headerLink: 16px;
$sectionText: 35px;
$boxHeading: 20px;
$boxText: 12px;
$boxBanner: 25px;
$sectionBannerTextFZ: 14px;
$footerText: 11px;
$footerCr: 13px;
$lineHeight: 1.2rem;
