$mFont: Source Sans Pro, sans-serif;
$secFont: Fresca, sans-serif;

$bg: url(../img/m-h-night.jpg);


$baseFColor: #fff; //baseFontColor
$fontColor: #bac3ce;//fontColor
$buttonColor: #e3ac00;//buttonColor
$buttonHColor: #f5bf1c;//buttonHoverColor
$underlineColor: #ff4e33;//underlineColor
$backgroundColor: #21232e;//bgColor
$blockbgColor: #3b3f50;//blockBgColor
$gradientColor: linear-gradient(90deg, #dda306 0%, #942f50 100%);//gradientColor

$headerHeight: 580px;//headerHeight
$headerWrWidth: 460px;//headerWrapWidth

$boxWidth: 860px;//sectionCardWidth
$boxHeight: 260px;//sectionCardHeight
$imgWidth: 350px;//sectioncCardImgWidth

$sectionBannerWidth: 900px;//sectionBannerWidth
$footerHeight: 150px;//footerHeight

//font sizes
$logoSize: 23px;//logoNameFZ
$logoSpan: 10px;//logoSpanFZ
$headerHeading: 55px;//headerHeadingFZ
$headerText: 13px;//headerTextFZ
$headerLink: 16px;//headerLinkFZ

$sectionText: 35px;//sectionTextFZ
$boxHeading: 20px;//sectionCardHeadingFZ
$boxText: 12px;//sectionCardTextFZ
$boxBanner: 25px;//sectionBannerHeadFZ

$sectionBannerTextFZ: 14px;//sectionBannerTextFZ
$footerText: 11px;//footerTextFZ
$footerCr: 13px;//footerCrFZ

$lineHeight: 1.2rem;//lineHeight
