$mFont: Source Sans Pro, sans-serif;
$secFont: Hind, sans-serif;

$bg: url(../img/m-h-day.jpg);


$baseFColor: #2c2f3c;
$fontColor: #bac3ce;
$buttonColor: #699900;
$buttonHColor: #a7c270;
$underlineColor: #14a0c7;
$backgroundColor: #fff;
$blockbgColor: #21232e;
$gradientColor: linear-gradient(90deg, rgba(101,148,15,1) 0%, rgba(47,93,208,1) 100%);

$headerHeight: 580px;
$headerWrWidth: 480px;

$boxWidth: 860px;
$boxHeight: 260px;
$imgWidth: 350px;

$sectionBannerWidth: 900px;
$footerHeight: 150px;

//font sizes
$logoSize: 23px;
$logoSpan: 10px;
$headerHeading: 55px;
$headerText: 13px;
$headerLink: 16px;

$sectionText: 35px;
$boxHeading: 20px;
$boxText: 12px;
$boxBanner: 25px;

$sectionBannerTextFZ: 14px;
$footerText: 11px;
$footerCr: 13px;

$lineHeight: 1.2rem;
